# Database Configuration
DATABASE_URL="postgresql://postgres:new%20password@localhost:5432/tvsd?schema=public"
DB_NAME=tvsd
DB_USER=postgres
DB_PASSWORD=new password
DB_HOST=localhost
DB_PORT=5432

# Application
NEXT_PUBLIC_APP_NAME="TVSD Technologies"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
